.image {
  background-repeat: no-repeat;
  background-image: url("http://127.0.0.1:8887/Cover_1920x1080.jpg");
  height: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.naslov{
  color: darkgoldenrod;
  font-size: 10rem;
  font-style: oblique;
  font-family: "Apple Chancery";
  display: flex;
  position:relative;
  top: 30%;
  left: 25%;
}